#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Search {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Share {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-BgWhite {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Panel_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Rectangle_115 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDE2E4;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-drop-down {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Two-line-item_14 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Two-line-item_22 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Two-line-item_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Two-line-item_34 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Image_119 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Image_152 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-menu_2 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-more-vertical_1 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Button_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Button_11 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Button_12 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Button_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Button_7 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Button_13 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Button_14 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-32577bc4-e65e-484b-82e8-196fa1ddef34 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}