#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-bg_data {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Cover {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-bg_data_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 #s-Cover_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-388264bd-4c24-4461-8836-17e9804d41c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}