#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}