#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Empty_screen {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Square > svg {
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Square > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Circle > svg {
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Circle > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Triangle > svg {
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Triangle > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-more-vertical > svg {
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-more-vertical {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-more-vertical > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-more-vertical > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-menu > svg {
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-menu {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-menu > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-menu > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text span#rtr-s-Text_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Status-bar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-signals > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Card-1 {
  position: absolute;
  width: 344px;
  height: 148px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 2px 3px 0px #999999;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 {
  position: absolute;
  width: 344px;
  height: 148px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 > .paddingLayer {
  height: 127px;
  width: 326px;
  padding-top: 20px;
  padding-bottom: 1px;
  padding-left: 17px;
  padding-right: 1px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_1 {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_1 > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_1 > svg {
  height: 80px;
  width: 80px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 {
  position: absolute;
  width: 80px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 span {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 span#rtr-s-Button_5_0 {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 {
  position: absolute;
  width: 80px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 {
  position: absolute;
  width: 157px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 > .paddingLayer {
  height: 29px;
  width: 157px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 span {
  color: #6200EE;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 span#rtr-s-Button_11_0 {
  color: #6200EE;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 {
  position: absolute;
  width: 162px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 > .paddingLayer {
  height: 29px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 {
  position: absolute;
  width: 190px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 span#rtr-s-Text_1_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 span#rtr-s-Text_1_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 span#rtr-s-Text_1_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 span#rtr-s-Text_1_4 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Card-1_1 {
  position: absolute;
  width: 344px;
  height: 148px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 2px 3px 0px #999999;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 {
  position: absolute;
  width: 344px;
  height: 148px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 > .paddingLayer {
  height: 127px;
  width: 326px;
  padding-top: 20px;
  padding-bottom: 1px;
  padding-left: 17px;
  padding-right: 1px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_2 {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_2 > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_2 > svg {
  height: 80px;
  width: 80px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 {
  position: absolute;
  width: 80px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 span {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 span#rtr-s-Button_7_0 {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 {
  position: absolute;
  width: 80px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 {
  position: absolute;
  width: 157px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 > .paddingLayer {
  height: 29px;
  width: 157px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 span {
  color: #6200EE;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 span#rtr-s-Button_13_0 {
  color: #6200EE;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 {
  position: absolute;
  width: 162px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 > .paddingLayer {
  height: 29px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 span#rtr-s-Button_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 {
  position: absolute;
  width: 190px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 span#rtr-s-Text_2_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 span#rtr-s-Text_2_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 span#rtr-s-Text_2_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 span#rtr-s-Text_2_4 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Card-1_2 {
  position: absolute;
  width: 344px;
  height: 148px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 2px 3px 0px #999999;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 {
  position: absolute;
  width: 344px;
  height: 148px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 > .paddingLayer {
  height: 127px;
  width: 326px;
  padding-top: 20px;
  padding-bottom: 1px;
  padding-left: 17px;
  padding-right: 1px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_3 {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_3 > img, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_3 > svg {
  height: 80px;
  width: 80px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 {
  position: absolute;
  width: 80px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 span {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 span#rtr-s-Button_9_0 {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 {
  position: absolute;
  width: 80px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 span#rtr-s-Button_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 {
  position: absolute;
  width: 157px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 > .paddingLayer {
  height: 29px;
  width: 157px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 span {
  color: #6200EE;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 span#rtr-s-Button_15_0 {
  color: #6200EE;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 {
  position: absolute;
  width: 162px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 > .paddingLayer {
  height: 29px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 span#rtr-s-Button_16_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 {
  position: absolute;
  width: 190px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 > .clipping, #s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 span#rtr-s-Text_3_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 span#rtr-s-Text_3_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 span#rtr-s-Text_3_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 span#rtr-s-Text_3_4 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}