#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_11 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 157px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_12 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 162px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_7 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_8 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_13 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 157px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_14 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 162px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_10 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_15 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 157px;
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Button_16 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 162px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5c072a1b-edfc-496c-86d5-d4ebdd0e90cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}