#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Image_76 > svg {
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Image_76 {
  position: absolute;
  width: 92px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Image_76 > img, #s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Image_76 > svg {
  height: 89px;
  width: 92px;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-input {
  position: absolute;
  width: 241px;
  height: 44px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 input::-webkit-input-placeholder {
  color: #808080;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 input::-moz-placeholder {
  color: #808080;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 input:-moz-placeholder {
  color: #808080;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 input:-ms-input-placeholder {
  color: #808080;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_3 > .paddingLayer {
  height: 20px;
  width: 61px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #shapewrapper-s-Line_5 marker {
  fill: #757575;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 241px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Line_5 {
  width: 66px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #shapewrapper-s-Line_6 marker {
  fill: #6200EE;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #shapewrapper-s-Line_6 {
  position: absolute;
  width: 241px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Line_6 {
  width: 66px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_1 > .clipping, #s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-input_1 {
  position: absolute;
  width: 241px;
  height: 44px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 input::-webkit-input-placeholder {
  color: #808080;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 input::-moz-placeholder {
  color: #808080;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 input:-moz-placeholder {
  color: #808080;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 input:-ms-input-placeholder {
  color: #808080;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Input_4 > .paddingLayer {
  height: 20px;
  width: 61px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #shapewrapper-s-Line_7 marker {
  fill: #757575;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #shapewrapper-s-Line_7 {
  position: absolute;
  width: 241px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Line_7 {
  width: 66px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #shapewrapper-s-Line_8 marker {
  fill: #6200EE;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #shapewrapper-s-Line_8 {
  position: absolute;
  width: 241px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Line_8 {
  width: 66px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_2 > .clipping, #s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-raised_Button > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-raised_Button {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-raised_Button > .clipping, #s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-raised_Button > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_3 > .clipping, #s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_3 span {
  color: #676CFB;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #676CFB;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 26.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_4 > .clipping, #s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 26.0pt;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}