#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ac41b230-7ecf-49e9-b139-607e88d8ac44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}