#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-bg_data {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Cover {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-bg_data_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Cover_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Line_6 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bee64e06-92ac-4fe2-83d5-13ad80ec8487 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}