#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-call-mode {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-checkbox_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-checkbox_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Three-line-item_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-checkbox_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_11 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-checkbox_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_2 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Three-line-item {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-attachment {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Item-row {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-date {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-star-1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-show {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-more {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-reply-1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item_2 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-hangout {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-phone {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-mail {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item_10 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-share {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Space {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Search {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-signals {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}