#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-call-mode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-checkbox_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-checkbox_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Three-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-checkbox_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-checkbox_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Three-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-attachment {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Item-row {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-show {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-more {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-reply-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-hangout {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-share {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Space {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4d465dd-6364-4854-86a9-4c50c0292b4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}